{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>This is products page </h1>

    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product Name: {{product.product_name}}</h5>
          <p class="card-text">Description: {{product.product_description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{product.price}}</li>
          <li class="list-group-item">Rating: {{product.rating}}</li>
          <li class="list-group-item">Available Quantity: {{product.available_quantity}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      
      {% endfor %}
    </div>
{% endblock content %}